@media screen and (min-width: 1498px) {

  .sidebar {
    display: none;
  }

  #cabecalho {
    width: 100%;
    height: 79px;
    top: 0%;
    margin-top: 0px;
    margin-bottom: 26px;

  }

  #icone {
    display: none;
  }


  #logo {
    width: 40px;
    height: 36.84px;
    margin-left: 200px;
    margin-top: 22px;
    margin-bottom: 22px;
  
    left: 1px;
    top: -200px;
  }

  #menu-logo {
    display: none;
  }

  #titulo {
    position: absolute;
    width: 411px;
    height: 43px;
    left: 82px;
    top: -200px;
    margin-top: 19px;
    margin-bottom: 18px;
    margin-right: 249px;
    margin-left: 170px;

    font-family: 'Latoregular';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #333333;

  }

  .navigation {
    position: absolute;
    width: 350px;
    height: 40px;
    right: 1px;
    top: -200px;
    display: flex;

    margin-top: 20px;
    margin-right: 200px;
    margin-bottom: 20px;

    background: #FFFFFF;
  }


  #transações_cadastro {
    position: absolute;
    width: 160px;
    height: 32px;
    left: 20px;
    top: -20px;

    margin-top: 24px;
    margin-bottom: 24px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    color: #333333;


  }

  #dados_limpar {
    position: absolute;
    width: 97px;
    height: 32px;
    left: 233px;
    top: -20px;

    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 40px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    color: #333333;


  }

  #navigation_linha {
    position: absolute;
    width: 20px;
    height: 0px;
    left: 185px;
    top: -7px;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 27px;
    margin-bottom: 27px;

    border: 1px solid #979797;
    transform: rotate(90deg);

  }

  #transaction {
    position: absolute;
    width: 400px;
    height: 344px;
    left: 0px;

    margin-left: 200px;
    margin-right: 20px;

  }

  #nova-transacao {

    position: absolute;
    width: 125px;
    height: 20px;
    left: 0px;

    margin-top: 20px;
    margin-left: 138px;
    margin-right: 138px;

    text-align: center;

    font-family: 'latoregular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    white-space: nowrap;

    color: #333333;


  }


  #type_transaction {
    position: absolute;
    top: -30px;

    font-family: 'latoregular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;



    white-space: nowrap;
  }

  #tipo-de-transacao {
    top: -3px;

    width: 370.2px;
    margin-bottom: 20px;
  }

  #mercadoria {
    left: 0px;
    top: 120px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    margin-left: 14px;




  }

  #nmercadoria {
    left: -15px;
    margin-left: 14px;
    width: 370.2px;
    top: 25px;

    margin-bottom: 20px;


  }

  #value {
    top: 192px;
    left: 0px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;


    margin-left: 20px;




  }

  #valor {
    width: 370.2px;
    left: -25px;
    margin-left: 20px;
  }

  #botao-transacao {
    top: 270px;
    left: 0px;
    width: 370.2px;
    height: 32px;

    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20.22px;


  }


  #account {
    position: absolute;
    width: 652px;
    height: 281px;

    top: 105px;

    left: 40%;

    margin-top: 26px;
    margin-left: 20px;
    margin-right: 200px;

  }

  #extrato {
    position: absolute;
    top: -5px;
    margin-top: 21px;

    left: 239px;

    font-family: 'latoregular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;



    color: #000000;
  }

  #frame {
    position: absolute;
    width: 652px;
    height: 187px;
  }

  #account-linha-1 {
    width: 652px;
  }

  #account-linha-2 {

    width: 652px;
  }

  #account-linha-3 {

    width: 652px;
  }

  #account-linha-4 {

    width: 652px;
  }

  #account-linha-5 {

    width: 652px;
  }

  #account-valor-1 {

    text-align: right;
    left: 535px;
    margin-right: 40px;


  }

  #account-valor-2 {

    text-align: right;
    left: 535px;
    margin-right: 40px;


  }

  #account-valor-3 {

    text-align: right;
    left: 535px;
    margin-right: 40px;


  }

  #extrato-valor {
    text-align: right;
    left: 600px;
    margin-right: 40px;
  }

  #account-total {
    text-align: right;
    left: 535px;
    margin-right: 40px;
  }

  #extrato-lucro {
    text-align: right;
    left: 535px;
    margin-right: 40px;

  }

  #header {
    width: 252px;
    height: 1000px;

  }

  #cadastro_transacoes {
    left: 19%;
    padding-right: 20px;

  }

  #limpar_dados {
    left: 50%;
    padding-right: 20px;

  }

  #footer {
    width: 100%;
    top: 100%;
  }

}