* {
  margin: 0;
  padding: 0;


}

.content {
  width: 100%;
  height: 100%;
  display: flex;

}

.sidebar {
  position: absolute;
  width: 411px;
  height: 24px;
  left: 0px;
  top: auto;
  background: black;
  display: flex;
  gap: 17px;
}

#rede {
  width: 120px;
  height: 16px;
  position: absolute;
  left: 2.64px;
  top: 4px;
}

#hora {
  position: absolute;
  width: 50px;
  height: 15px;
  left: calc(50% - 50px/2 + 1px);
  top: 4.5px;

}

#bateria {
  position: absolute;
  width: 88px;
  height: 18px;
  right: 2.36px;
  top: 2px;
}


#cabecalho {
  position: absolute;
  width: 411px;
  height: 60px;
  left: 0px;
  top: 24px;
  background: #E0E0E0;
  display: flex;
  margin-top: 17px;


}


#logo {
  position: relative;
  width: 30px;
  height: 27.63px;
  left: 15px;
  top: -180px;


}

#titulo {
  position: absolute;
  top: -190px;
  left: calc(28%);


  font-family: 'latoregular';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;


}



#menu-logo {
  position: absolute;
  width: 30px;
  height: 27.63px;
  left: 340px;
  top: -180px;
  font-family: 'latoregular'

}

#transaction {
  position: absolute;
  width: 371px;
  height: 290px;
  left: 20px;
  right: 20px;
  top: 100px;
  font-family: 'latoregular';
  margin-top: 17px;

}

#nova-transacao {
  display: none;
}

#tipo {
  position: absolute;
  width: 3;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 80.34%;

}

#mercadoria {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 70%;
  margin-top: 20px;


}

#value {
  position: absolute;
  width: 371px;
  height: 55px;
  left: 0%;
  right: 0%;
  top: 126.8px;
  bottom: 28.05%;
  padding-top: 20px;


}

#tipo-de-transacao {
  box-sizing: border-box;
  position: absolute;
  height: 32px;
  width: 371px;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  font-family: 'latoregular';
  color: #888888;
  ;

}

#nmercadoria {
  box-sizing: border-box;
  position: absolute;
  height: 32px;
  width: 371px;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
}

#transacao {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 80.34%;
  font-family: 'latoregular';
  margin-bottom: -20px;

}


#account {
  position: absolute;
  width: 371px;
  height: 200px;
  left: 20px;
  top: 400px;
  font-family: 'latoregular';
  background: #FFFFFF;
  flex: none;
  margin-top: 38px;

}

#valor {
  box-sizing: border-box;
  position: absolute;
  height: 32px;
  width: 371px;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;


}

#selecionar_menu {
  display: none;
}

#icone {
  position: absolute;
  z-index: 1;
  padding: 50px;

}

#header {
  position: absolute;
  width: 351px;
  height: 707px;
  right: 0px;
  top: -217px;
  z-index: 1;
  padding: 20px;
  display: none;
  background: #333333;

 
}

#cadastro_transacoes {
  position: absolute;
  width: 203px;
  height: 32px;
  left: 130px;
  top: 62px;
  white-space: nowrap;

  font-family: 'latoregular';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 19px;
  
  align-items: center;

  color: #FFFFFF;

}

#limpar_dados {

  position: absolute;
  width: 123px;
  height: 32px;
  left: 215px;
  top: 100px;
  white-space: nowrap;

  font-family: 'latoregular';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 19px;
  
  align-items: center;

  color: #FFFFFF;

}

#botao-transacao {
  position: absolute;
  font-family: 'latoregular';
  width: 371px;
  height: 33px;
  top: 200px;
  margin-top: 20.78px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  margin-bottom: 28.33px;
  background: #333333;
  color: #FFFFFF;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

.linha {
  border: 1px solid #979797;
  margin: 0px;

}

#transaction-linha {
  position: absolute;
  width: 371px;
  height: 0px;
  left: -1px;
  top: 280px;


}


nav {
  width: 100%;
  /* 250px */
  position: absolute;
  top: 200px;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 15px;
  margin-bottom: 2px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'latoregular';
  letter-spacing: .1em;

}

#selecionar_menu:checked ~ #header {
  display: flex;
}


#footer {
  width: 411px;
  height: 8px;
  flex: none;
  background: black;
  flex-grow: 0;
  position: absolute;
  bottom: 0px;
}

#extrato {
  text-align: center;

  font-family: 'latoregular';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 22px;

  margin-bottom: 19px;

}

#extrato-mercadoria {
  position: absolute;
  width: 72px;
  height: 22px;

  left: 30px;

  font-family: 'latoregular';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 22px;
  color: #000000;

}

#extrato-valor {
  position: absolute;
  width: 33px;
  height: 22px;
  left: 296px;

  font-family: 'latoregular';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 22px;
  color: #000000;


}

#extrato-total {
  position: absolute;
  width: 72px;
  height: 18px;
  left: 30px;
  top: 151px;

  font-family: 'latoregular';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 16px;
  color: #000000;


}


#extrato-lucro {
  position: absolute;
  width: 98px;
  height: 18px;
  left: 263px;
  top: 169px;


  font-family: 'latoregular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 20px;
  text-align: right;

  color: #000000;
}

#frame {
  position: absolute;
  width: 371px;
  height: 187px;
  left: 0px;
  top: 40px;

}

#account-linha-1 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 22px;

}

#account-linha-2 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 71px;

}

#account-linha-3 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 104px;

}

#account-linha-4 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 137px;

}

#account-linha-5 {
  position: absolute;
  width: 371px;
  height: 0px;
  left: 0px;
  top: 140px;

}

.account-sinal {
  font-family: 'latoregular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16px;

  color: #000000;

}

.account-mercadoria {
  font-family: 'latoregular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16px;

  color: #000000;

}

.account-valor {
  font-family: 'latoregular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;

  text-align: right;

  color: #000000;
}

#account-positivo-1 {
  position: absolute;
  width: 9px;
  height: 25.35px;
  left: 10px;
  top: 29px;

}

#account-mercadoria-1 {
  position: absolute;
  width: 231px;
  height: 34px;
  left: 30px;
  top: 29px;
}

#account-valor-1 {
  position: absolute;
  width: 98px;
  height: 34px;
  left: 263px;
  top: 29px;


}

#account-negativo {
  position: absolute;
  width: 9px;
  height: 25.35px;
  left: 10px;
  top: 78px;

}

#account-mercadoria-2 {
  position: absolute;
  width: 231px;
  height: 18px;
  left: 30px;
  top: 78px;

}

#account-valor-2 {

  position: absolute;
  width: 98px;
  height: 18px;
  left: 263px;
  top: 78px;

}

#account-positivo-2 {

  position: absolute;
  width: 9px;
  height: 25.35px;
  left: 10px;
  top: 111px;

}

#account-mercadoria-3 {
  position: absolute;
  width: 231px;
  height: 18px;
  left: 30px;
  top: 111px;

}

#account-valor-3 {
  position: absolute;
  width: 98px;
  height: 18px;
  left: 263px;
  top: 111px;

}

#account-total {
  position: absolute;
  width: 98px;
  height: 18px;
  left: 263px;
  top: 151px;
  
}

#fechar {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 20px;
  top: 20px;

}

#footer {
  position: absolute;
width: 768px;
height: 8px;
left: 0px;
top: 1016px;

background: #333333;
}