* {
  margin: 0;
  padding: 0;


}

.sidebar {
  position: absolute;
  width: 411px;
  height: 24px;
  left: 0px;
  top: auto;
  background: black;
  display: flex;
  gap: 17px;
}

#rede {
  width: 120px;
  height: 16px;
  position: absolute;
  left: 2.64px;
  top: 4px;
}

#hora {
  position: absolute;
  width: 50px;
  height: 15px;
  left: calc(50% - 50px/2 + 1px);
  top: 4.5px;

}

#bateria {
  position: absolute;
  width: 88px;
  height: 18px;
  right: 2.36px;
  top: 2px;
}


#cabecalho {
  position: absolute;
  width: 411px;
  height: 60px;
  left: 0px;
  top: 24px;
  background: #E0E0E0;
  display: flex;
  margin-top: 17px;


}


#logo {
  position: absolute;
  width: 30px;
  height: 27.63px;
  left: 15px;
  top: -180px;


}

.titulo {
  position: absolute;
  width: 411px;
  height: 27.63px;
  left: 100px;
  top: -180px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #333333;

}

#menu-logo {
  position: absolute;
  width: 30px;
  height: 27.63px;
  left: 370px;
  top: -180px;
  font-family: 'latoregular'

}

#transaction {
  position: absolute;
  width: 371px;
  height: 290px;
  left: 20px;
  right: 20px;
  top: 110px;
  font-family: 'latoregular';
  margin-top: 17px;

}

#tipo{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 80.34%;

}

#mercadoria {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 130%;
  bottom: 53.91%;
  padding-bottom: 20px;
}

#value {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 153.67px;
  bottom: 28.05%;
  padding-bottom: 20px;
}

#tipo-de-transacao {
  box-sizing: border-box;
  position: absolute;
  height: 32px;
  width: 371px;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;

}

#nmercadoria {
  box-sizing: border-box;
  position: absolute;
  height: 32px;
  width: 371px;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
}

#transacao {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 80.34%;
  font-family: 'latoregular';
  padding-bottom: 20px;

}


#account {
  position: absolute;
  width: 371px;
  height: 281px;
  left: 20px;
  top: 420px;
  font-family: 'latoregular';
  background: #FFFFFF;

}

#valor {
  box-sizing: border-box;
  position: absolute;
  height: 32px;
  width: 371px;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  padding-bottom: 20px;


}

#selecionar_menu {
  display: none;
}

#icone {
  position: absolute;
  z-index: 1;
  padding: 50px;

}

#header {
  width: 250px;
  height: 100%;
  position: absolute;
}

#botao-transacao {
  position: absolute;
  font-family: 'latoregular';
  width: 371px;
  height: 33px;
  top: 228.67px;


}

#tipo-de-transacao {
  font-family: 'latoregular';
}

nav {
  width: 100%;
  /* 250px */
  position: absolute;
  top: 200px;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 15px;
  margin-bottom: 2px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: 'latoregular';
  letter-spacing: .1em;

}