* {
  margin: 0;
  padding: 0;


}

.content {
  width: 100%;
  height: 100%;
  display: flex;

}

.sidebar {
  position: absolute;
  width: 411px;
  height: 24px;
  left: 0px;
  top: auto;
  background: black;
  display: flex;
  gap: 17px;
}

#rede {
  width: 120px;
  height: 16px;
  position: absolute;
  left: 2.64px;
  top: 4px;
}

#hora {
  position: absolute;
  width: 50px;
  height: 15px;
  left: calc(50% - 50px/2 + 1px);
  top: 4.5px;

}

#bateria {
  position: absolute;
  width: 88px;
  height: 18px;
  right: 2.36px;
  top: 2px;
}


#cabecalho {
  position: absolute;
  width: 411px;
  height: 60px;
  left: 0px;
  top: 24px;
  background: #E0E0E0;
  display: flex;
  margin-top: 17px;


}


#logo {
  position: absolute;
  width: 30px;
  height: 27.63px;
  left: 15px;
  top: -180px;


}

#titulo {
  position: absolute;
  top: -190px;
  left: calc(28%);


  font-family: 'latoregular';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;


}



#menu-logo {
  position: absolute;
  width: 30px;
  height: 27.63px;
  left: 370px;
  top: -180px;
  font-family: 'latoregular'

}

#transaction {
  position: absolute;
  width: 371px;
  height: 290px;
  left: 20px;
  right: 20px;
  top: 100px;
  font-family: 'latoregular';
  margin-top: 17px;

}

#tipo {
  position: absolute;
  width: 3;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 80.34%;

}

#mercadoria {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 70%;
  margin-top: 20px;


}

#value {
  position: absolute;
  width: 371px;
  height: 55px;
  left: 0%;
  right: 0%;
  top: 126.8px;
  bottom: 28.05%;
  padding-top: 20px;


}

#tipo-de-transacao {
  box-sizing: border-box;
  position: absolute;
  height: 32px;
  width: 371px;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  font-family: 'latoregular';
  color: #888888;
  ;

}

#nmercadoria {
  box-sizing: border-box;
  position: absolute;
  height: 32px;
  width: 371px;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
}

#transacao {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 80.34%;
  font-family: 'latoregular';
  margin-bottom: -20px;

}


#account {
  position: absolute;
  width: 371px;
  height: 200px;
  left: 20px;
  top: 400px;
  font-family: 'latoregular';
  background: #FFFFFF;
  flex: none;
  margin-top: 38px;

}

#valor {
  box-sizing: border-box;
  position: absolute;
  height: 32px;
  width: 371px;
  left: 0%;
  right: 0%;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;


}

#selecionar_menu {
  display: none;
}

#icone {
  position: absolute;
  z-index: 1;
  padding: 50px;

}

#header {
  width: 250px;
  height: 100%;
  position: absolute;
}

#botao-transacao {
  position: absolute;
  font-family: 'latoregular';
  width: 371px;
  height: 33px;
  top: 200px;
  margin-top: 20.78px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  margin-bottom: 28.33px;


}

#linha {
  position: absolute;
  width: 371px;
  height: 0px;
  left: -1px;
  top: 280px;
  border: 1px solid #979797;
  margin: 0px;

}


nav {
  width: 100%;
  /* 250px */
  position: absolute;
  top: 200px;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 15px;
  margin-bottom: 2px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: 'latoregular';
  letter-spacing: .1em;

}

#footer {
  width: 411px;
  height: 8px;
  flex: none;
  background: black;
  flex-grow: 0;
  position: absolute;
  bottom: 0px;
}

#extrato {
  text-align: center;

  font-family: 'latoregular';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  margin-bottom: 19px;

}

#extrato-mercadoria {
  position: absolute;
  width: 72px;
  height: 22px;

  left: 30px;

  font-family: 'latoregular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #000000;

}

#extrato-valor {
  position: absolute;
  width: 33px;
  height: 22px;
  left: 296px;

  font-family: 'latoregular';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #000000;


}

#extrato-total {
  position: absolute;
  top: 40px;
}

#frame {
  position: absolute;
  width: 371px;
  height: 187px;
  left: 0px;
  top: 40px;

}

#lucro {
  position: absolute;
  width: 98px;
  height: 18px;
  left: 263px;
  top: 169px;
  
  
  font-family: 'latoregular';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  text-align: right;

  color: #000000;
}