@import url(reset.css);
@import url(modal.css);
@import url(menu.css);
@import url(header.css);
@import url(main.css);



* {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  max-width: 1112px;
  width: 100%;
}


.header {
  background: #E0E0E0;
  display: flex;
  justify-content: center;

}

.title {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333;
}


