@import url(modal.css);
@import url(menu.css);
@import url(header.css);
@import url(main.css);
@import url(fontes.css);


* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  list-style: none
}

body {
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  max-width: 1112px;
  width: 100%;
}


.header {
  background: #E0E0E0;
  display: flex;
  justify-content: center;

}




